.wrapper {
    margin: 10px;
    width: 400px;

    .decryptWrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .actions {
            display: flex;
            justify-content: end;
        }
    }
}
