.keys {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;

    .actions {
        display: flex;
        justify-content: end;
    }
}

.key {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .keyName {
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
    }
}
